.container{
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 10px;
    .responsive{
        width: 70%;
        height: auto;
        display: inline-block;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}