
<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">Bienvenido</ion-title>
    <p class="sub-tilte">Registrate para acceder</p>
  </div>
  <form [formGroup]="regForm" novalidate>
    <div class="ion-padding">
      <ion-item>
        <ion-input formControlName="fullname" placeholder="Ingresar usuario" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <div *ngIf="this.regForm.controls?.['fullname'].touched && this.regForm.controls?.['fullname'].invalid">
        <ion-text *ngIf="errorControl['fullname'].errors['required']">
          Nombre completo requerido
        </ion-text>
      </div>

      <ion-item>
        <ion-input formControlName="email" placeholder="Ingresar correo" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <div *ngIf="this.regForm.controls?.['email'].touched && this.regForm.controls?.['email'].invalid">
        <ion-text *ngIf="errorControl['email'].errors['required']">
          Correo requerido
        </ion-text>
        <ion-text *ngIf="errorControl['email'].errors['pattern']">
          Correo válido
        </ion-text>
      </div>

      <ion-item>
        <ion-input formControlName="password" placeholder="Ingresa contraseña" class="input"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div *ngIf="this.regForm.controls?.['password'].touched && this.regForm.controls?.['password'].invalid">
        <ion-text *ngIf="errorControl['password'].errors['required']">
          Contraseña requerido
        </ion-text>
        <ion-text *ngIf="errorControl['password'].errors['pattern']">
          Contraseña válido, debe contener: 8 digitos, al menos una (letra capital, numero, caracter especial)
        </ion-text>
      </div>

      <div class="Regresar">
        <p>Ya tienes una cuenta <a style="color:#FFC33F" [routerLink]="['/login']"> Regresar</a></p>
      </div>
    </div>
    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
      <ion-fab-button [routerLink]="['/home']">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>